/**************** @MEDIA *******************/

@media screen and (max-width: 900px) {
  main {
    #about-container {
      padding: 0 5%;
      height: 70vw;

      grid-template-rows: 13% 28% 27% 19% 13%;
      grid-template-areas:
        ". ."
        "pict about"
        "pict about"
        "tools tools"
        ". .";
    }

    #about-container {
      height: 80vw;

      #picture {
        justify-content: flex-start;

        img {
          transform: rotate(0);
          height: 100%;
        }
      }

      #about {
        .h2 {
          width: 109.2%;
        }
      }
    }

    #contact-container {
      flex-direction: column;
      justify-content: space-evenly;
      height: 120vh;

      #contact {
        height: 60vw;
        width: 70%;
      }

      #map {
        width: 70%;
        height: 20.83vw;
      }
    }
  }

  /////////////////////// FOOTER //////////////////////////

  #footer-nav {
    #footer-top {
      .social-icons {
        width: 20vw !important;
      }
    }
  }
}
